[Unit]
Description=BabyCam Unified AI
After=network.target

[Service]
User=orangepi
Group=orangepi
WorkingDirectory=/var/log.hdd/babycam/ai
ExecStart=/usr/bin/python3 /var/log.hdd/babycam/ai/babycam_unified.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
